body {
    font-family: "Work Sans", sans-serif;
    
}

.contacto {
    max-width: 600px;
    margin: 4rem auto;
    padding: 3.5rem;
    background-color: #1b1b1b;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    margin-top: 27px;
}

.contacto h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-top: -20px;
    text-align: center;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    background-color:  #303030;
}

.form-group textarea {
    resize: vertical;
}

button {
    background-color: #580058;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color:#800080;
}