:host {
    display: block;
    padding: 20px;
  }

  body{
    font-family: "Work Sans", sans-serif;
  }
 
  .card {
    border-radius: 10px;
  }
 
  .card-header {
    border-bottom: none;
   
  }
 
  .card-body {
    padding: 30px;
  }
 
  .btn-primary {
    background-color: #580058;
    border: none;
    padding: 10px 20px;
  }
 
  .btn-primary:hover {
    background-color:  #800080;
    
  }

.back{
  background-color:  #1b1b1b;
 
}
 
h3 ,label{
  color:#fff;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="number"]{
  background-color: #303030;
  border:none ;
}

#descripcion, #precio, #categoria{
  background-color: #303030;
}

.form-control{
  color:white;
  border: none;
}

#imagen{
  color: #fff;
}