/* Estilos para la cabecera y la navegación */
header {
    color: #fff;
    text-align: center;
    margin-top: -30px;
}

.navbar{
    background-color: rgba(0, 189, 189, 0.089);
}

 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 60px;
    margin-left: -39%;
}

ul li{
    padding-right: 20px;
    
}

.text{
    background: transparent;
}

.titulo{
    margin-left: 25%;
}

 ul li a {
    color:#fff;
}


main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



h2 {
    margin: 20px 0;
}


img{
    width: 80px;
}

.img img{
    margin-top: 20px;
    margin-left: 400%;
}



.container{
    padding: 40px;
}
.container2{
    padding-bottom: 150px;
}

.sp1{
    color: black;
}